* {
padding: 0;
margin: 0;
box-sizing: border-box;

}

:root{
  --bg-color: #22223B;
  --text-color: #fff;
  --main-color: #3c436e;
  --second-color: #a5389581;
  --other-color: #C9ADA7;
  --h1-font: 50px;
  --h2-font: 15px;
  --p-font:12px;
}


body {
  margin: 0;
  font-family: 'Barlow', monospace;
font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  color: var(--text-color);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


