.globalCont{
    background: url("https://media.kingston.com/kingston/hero/ktc-hero-blog-gaming-cloud-gaming-advantages-disadvantages-lg.jpg");
    background-size: cover;
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.globalCont label{
    color: rgb(251, 251, 252);
    font-weight:bold;
}

.contForm{
    background: rgba(54, 101, 172, 0.39);
    background-size: cover;
    box-shadow: -8px 9px 14px -3px rgba(0,0,0,0.75);
    margin-top: 2%;
    padding-top: 2px;
    width: 90%;
    height: 90%;
    
    border-radius: 10px;

    display: flex;
    flex-direction:column;
    align-items: center;
}

.title{
    color: white;
    text-shadow: 0 0 6px #000000;
}

.formData{
    color: rgb(14, 13, 13);
    display: flex;
    flex-direction:column;
    width: 70%;
}

.contPlatforms, .contGenres{
    color: black;
    height: 10%;
    background:#8c8dbd88;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}


.validName, .validImg, .validDes, .validRel, .validRat, .validGen, .validPlat{
    padding-left: 10px;
    border-radius: 5px;
    background-color:rgba(179, 255, 103, 0.733);
    font-size: 12px;
}

.errorName, .errorRel, .errorRat, .errorGen, .errorPlat, .errorImg , .errorDes{
    padding-left: 10px;
    border-radius: 5px;
    background-color:rgba(255, 100, 100, 0.562);
    font-size: 12px;

}

